apiVersion: v1
kind: Service
metadata:
  name: nodejs-svc
  labels:
    app: nodejs
spec:
  type: NodePort
  selector:
    app: nodejs
  ports:
    - port: 3000
      targetPort: 3000
      name: nodejs

